<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <a href="/logout">logout</a>
  <% else %>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
  <% end %>

  THE ENVIRONMENT VARIABLE
  <%= ENV['SOME_API_KEY'] %>


  <%= session[:user_id] %>
    <%= yield %>
  </body>
</html>
